:root{
    --color: red;
    --scheme: http;
    --hostname: localhost;
    --port: 8080;
    --img1: hack1.jpg;
    --img2: hack2.jpg;
    
    --computeUrl:initial;
}

body>div{
    width: 100%;
    display: flex;
    flex-direction:column;
}

.bg{
    width: 100%;
    height: 300px;
    background-size:cover;
    background-image:var(--computeUrl);
    --url: (img) => {
        let scheme = `var(--scheme)`;
        let host = `var(--hostname)`;
        let port = var(--port);
        let url = scheme+'://'+host+':'+port+'/'+img;
        return url.split(' ').join('');
    };
}
#pure-css{
    background: var(--computeUrl);
    --randomColor: () => {
        let red = Math.random()*255;
        let green = Math.random()*255;
        let blue = Math.random()*255;
        return "rgb("+red+","+green+","+blue+")";
    };
    --testDependancy: () => {
        let color = `var(--color)`;
        return color;
    };
}

#pure-css h1 {
    --color: blue;
}

#pure-css #bg1 {
    --imgToUse: var(--img1);
}
#pure-css #bg2 {
    --imgToUse: var(--img2);
}